.App {
  font-family: sans-serif;
  text-align: center;
  max-width: 1000px;
  margin: 0px auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0px, 1fr));
  gap: 10px;
}

.griditemUI {
  background-color: #fff;
  border: 2px solid #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  cursor: -webkit-grab;
}

